spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

forfour:
  jwt:
    accessTokenExpiration: ${JWT_ACCESS_EXPIRATION}
    secretKey: ${JWT_SECRET_KEY}